@charset "UTF-8";

/*=========================================================
    Delfim cod
*/

body{
	background-color: orange;
}

#form{
	margin-left: 10%;
	margin-top: 1%;
	width: 80%;
	background-color: white;
}

label{
	font-size: 13pt;
	font-weight: bold;
}

fieldset#FSendereco{
	margin-bottom: 5%;
}

nav#pag{
	margin-left: 40%;
}

nav#pag0{
	margin-left: 145%;
}

button#antes{
	background-color: orange;
	border-color: orange;
	margin-left: 30%;
}

button#depois0{
	background-color: orange;
	border-color: orange;
	margin-left: 140%;
}

button#depois{
	background-color: orange;
	border-color: orange;
	margin-left: 40%;
}

button#inicio{
	background-color: orange;
	border-color: orange;
	margin-left: 15%;
	margin-top: 1%;
}

i#form2{
	margin-top: 20%;
	margin-left: 70%;
}

span{
	font-size: 13pt;
	font-weight: bold;
}

/*=========================================================
    Delfim cod
*/

body{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#info_area{
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    color:black;
}


#imprimir{
    left: 10%;
}

div#botoes{
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
}

div#botoes #cancel{
    margin-left: 74.8%;
}

/*=====================================================*
Denise cod
*/

div#principal {
	background-color: darkorange;
	padding-bottom: 50%;

}
div#principal2 {
	background-color: darkorange;
	padding-bottom: 50%;

}
div#principal3 {
	background-color: darkorange;
	padding-bottom: 50%;
	padding-top: 4%;

}
div#embaixo {
	background:rgba(192,192,192,0.3);
	border:2.1px solid rgba(192,192,192,0.3);
	margin-top: 12%;
	width: 30%;
	text-align: center;
	height: 20em;
	border-radius: 3em;
	padding-top: 1%
}
div#embaixo2 {
	background:rgba(192,192,192,0.3);
	border:2.1px solid rgba(192,192,192,0.3);
	margin-top: 12%;
	width: 30%;
	text-align: center;
	height: 20em;
	margin-bottom: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
	border-radius: 3em;
}
.textField {
	border-bottom: .5px solid #ADD8E6;
	border-radius: 0.5em;
	width: 60%;
	padding-left: 5%;
	margin-bottom: 2%;
}
.button{
	margin-left: 5%;
}
